<!DOCTYPE html>
<html>
<head>
  <title><%= t('.title', default: t('defaults.title')) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= yield :body_class %>" <% if content_for?(:ng_app) %>ng-app="<%= yield :ng_app %>"<% end %>>

<header>
  <%= content_for?(:header) ? yield(:header) : render('header') %>
</header>

<%= yield :jumbotron %>

<div class="container-fluid">
  <%= yield %>
</div>

<footer>
  <%= content_for?(:footer) ? yield(:footer) : render('footer') %>
</footer>

<%= javascript_include_tag "application" %>
</body>
</html>
